flask               # Framework para a interface e API
argon2-cffi         # Hash criptográfico seguro e parametrizado
pyotp               # Autenticação de dois fatores (2FA)
cryptography        # Criptografia de dados em repouso (AES)
python-dotenv       # Proteção de chaves e variáveis sensíveis
flask-limiter       # Proteção contra ataques de força bruta